// Vendors
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700);

// Demo
body {
  font-family: Roboto Slab; 
  font-size: 16px;  
}

// Custom Sass initials config (works before and after import)
$initials-sizes: (
  xxs:  15px, 
  xs:   25px, 
  sm:   35px,
  md:   75px,
  lg:   100px,
  xlg:  150px,
  xxlg: 200px
);
$initials-font: Roboto slab;

// Load Sass Initials
@import "../../../../initials-avatar.scss"; 