
<!doctype HTML>
<html>
<head>
  <title>Sass Initials by Chris C. Wijnia</title>
  <link href="assets/dist/css/demo.css" rel="stylesheet">
</head>

<body data-ng-app="demo">
  <h1>Sass Initials</h1>
  
  <main data-ng-controller="DemoInitialsCtrl">  
    <section>    
      <h2>Examples with two initials</h2>
      <pre><code>data-initials="cw"</code></pre>
      
      <p>
        <span data-ng-repeat="initials in initialsDouble" 
          class="initials-avatar"
          data-initials="{{ initials }}"
          title="{{ initials }}">
        </span>
      </p>
    </section>

    <br>
    
    <section>    
        <h2>Examples with 1 initial in different sizes</h2>
        <pre><code>data-initials="a"</code></pre>
      
        <br>
      
        <section data-ng-repeat="size in sizes">        
          <h3>Sizing example {{ size }}</h3>
          <pre><code>data-size="{{ size }}"</code></pre>

          <p>
            <span data-ng-repeat="initials in initials" 
              class="initials-avatar"     
              data-size="{{ size }}" 
              data-initials="{{ initials }}"
              title="{{ initials }}">
            </span> 
          <p>
        </section>
      
        <br>
        
        <section>
          <h2>Responsive example with multiple breakpoints</h2>
          <strong>Configure breakpoints and sizes in .scss</strong>
          <pre>
            <code>
.html:
data-size="fluid"

// or

data-size="fluid xs"
data-size="fluid sm" // etc...

.scss:            
// breakpoint + size
$initials-sizes-fluid:   400px  20px,
                         700px  35px,
                         900px  75px,
                         1200px 100px;
            </code>
          </pre>

          <span data-ng-repeat="initials in initialsDouble" 
            class="initials-avatar"
            data-size="fluid"
            data-initials="{{ initials }}"
            title="{{ initials }}">
          </span>
        </section>
    </section>
  </main>

  <!-- footer js -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
  <script src="assets/dist/js/demo.js"></script>
</body>
</html>